.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.form {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBarContainer {
  width: 80%;
  display: flex;
  border: 2px solid #848688;
  border-radius: 10px;
}
.searchBar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #272a2e;
  color: white;
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.searchBar:focus {
  border: 2px solid #cddc38; 
  outline: none; 
}
.searchButton {
  background-color: #272a2e;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.searchIcon {
  height: 1.5em;
}
.cardsContainer {
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
